###############################################
# Root policy: ignore all except /Kobe
###############################################

# Ignore everything at repo root
/*

# Whitelist: keep only the Kobe project
!/Rise/
!/Up/
!/up/

# Keep this file tracked (optional but safe)
!/.gitignore
